# ~/.local/share/chezmoi/.chezmoi.yaml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.

{{- $git_email := "" }}
{{- $git_name := "" }}
{{ if stdinIsATTY }}
    {{- $git_email = promptString "Git email address for the author/committer" }}
    {{- $git_name = promptString "Git username for the author/committer (Firstname Lastname)" }}
{{ end }}

data:
    git_email: "{{ $git_email }}"
    git_name: "{{ $git_name }}"
