root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true


[*.md]
# Keep trailing whitespaces as they have meaning on Markdown interpretation.
trim_trailing_whitespace = false

[*.{ps1,psd1,psm1,ps1xml}]
# Set line endings to Windows style for powershell files.
end_of_line = crlf
